@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Vidaloka&display=swap');


body
{
    height: 90vh;
    background: url("https://images.unsplash.com/photo-1614740044931-544b9fccb9e2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=664&q=80") no-repeat;
    background-position-x: right;
}

//Title
h1
{
    font: {
        family: "Vidaloka";
        weight: bold;
        size: 80px;
    }
    margin: 30px 0 0 50px;
}

//Quote
.body
{
    margin-top: 50px;
    padding: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    text-align: center;
    font-family: "Cormorant Garamond";
    background: {
        position: center;
    }
}

.quote 
{
    margin-top: 40px;
    width: 500px;
    font: {
        size: 25px;
        style: italic;
    }
    border-left: 1px solid #ed551a;
    padding: 5px;
}

.author {
    font : {
        weight: bold;
        size: 25px;
    }
}

img 
{
    margin-top: 0;
    padding-top: 0;
    width: 300px;
    box-shadow: 20px 20px 30px black;
    border-radius: 2px;
}