@font-face
{
    font : {
        family : "Shippori Mincho B1";
        size : normal;
        weight : normal;
    }
    src:url("../fonts/ShipporiMinchoB1-Bold.ttf") format("truetype"),
        url("../fonts/ShipporiMinchoB1-ExtraBold.ttf") format("truetype"),
        url("../fonts/ShipporiMinchoB1-Medium.ttf") format("truetype"),
        url("../fonts/ShipporiMinchoB1-Regular.ttf") format("truetype"),
        url("../fonts/ShipporiMinchoB1-SemiBold.ttf") format("truetype");
}

body
{
    margin: 0;
    padding: 0;
}

img
{
    width: 400px;
}
